$accent1: #405c17;

.nav-bar {
  border-bottom: 1px solid $accent1;
  display: flex;
  flex-direction: row;

  .logo-container {
    flex-basis: 25%;

    .site-logo {
      display: block;
      width: 100%;
    }
  }

  .logo-container-mobile {
    display: none;
  }

  .links-container {
    flex-grow: 1;

    ul {
      list-style-type: none;
      margin: 42px 40px 40px 0;
      font-size: 1em;

      li {
        display: inline;
        padding-left: 15px;
        padding-right: 15px;

        a {
          color: white;
          text-decoration: none;
          padding-bottom: 10px;
        }

        a:hover {
          border-bottom: 1px solid $accent1;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .nav-bar {
    display: block;

    .logo-container {
      display: none;
    }

    .logo-container-mobile {
      display: block;

      .site-logo-mobile {
        display: block;
        width: 750px;
        margin: 10px auto 0 auto;
      }
    }

    .links-container {
      text-align: center;

      ul {
        margin: 20px 0;
        padding-left: 0;
        font-size: 0.7em;
      }
    }
  }
}
