$accent1: #cc7300;
$accent2: #FFFF99;

.content {
  width: 1000px;
  margin: 0 auto;
  color: white;
}

.footer {
  border-top: 1px solid $accent1;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1.8em;
}

h2 {
  text-align: center;
  color: $accent2;
  font-size: 1.2em;
  margin: 1em;
}

.block-quote {
  color: $accent2;
  text-align: center;
  margin: 2em 0;
}

.body-content {
  width: 760px;
  margin: 0 auto;
}

.paragraph {
  line-height: 1.6em;
  margin-bottom: 2em;
}

@media only screen and (max-width: 1000px) {
  .content {
    width: 800px;
    font-size: 1.5em;
  }
}
