$accent1: #405c17;

.content {
  width: 1000px;
  margin: 0 auto;
  color: white;
}

.footer {
  border-top: 1px solid $accent1;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1.8em;
}
